.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 120px;
}

.message {
  margin: auto;
}

.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.4);
  overflow: auto;
  outline: none;
  height: 300px;
  color: #2e2e2e;
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0,0,0,0.05);
}

/* Tablet and Smaller Desktop */
@media (min-width: 780px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px 120px;
  }
}

@media (max-width: 780px) {
  .grid {
    grid-template-columns: 1fr;
  }
}